@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.menubar {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-around;
    background-color: #078A93;
    height: 4rem;
    align-items: center;

}

.search {
    background-image: url("./assets/search.svg");
    background-repeat: no-repeat;
    background-position: 5% 50%;
    border-radius: 5px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    z-index: 10;outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

.date {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 1rem;
    padding-top: 1rem;
}

.dateToday {
    font-family: 'Roboto', sans-serif;
    padding-left: 1rem;
    opacity: 60%;
}

hr {
    display: block;
    border-top: 0.1rem solid #E3E0E0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

.newTask {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin: 3rem;
}